/* General styles */
* {
  font-family: 'Roboto', sans-serif; }

#mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  background-color: white;
  border: 0; }
  #mainNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    margin: 0; }
  #mainNav li {
    color: #011936;
    font-size: 1.4em;
    height: 35px; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: 500px;
  width: 100%;
  padding: 150px 0 150px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(225deg, #253c78, #0a2239);
  background-image: -o-linear-gradient(225deg, #253c78, #0a2239);
  background-image: linear-gradient(-135deg, #253c78, #0a2239); }
  header canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0; }
  header h1, header p {
    position: relative;
    text-align: center;
    z-index: 1;
    color: white;
    margin: 0;
    padding: 15px 0 15px 0; }
