/* General styles */
@import "_lib";



#mainNav {
  @include flex-centro_vertical();
  height: 60px;
  background-color: rgb(255, 255, 255);
  border: 0;
  ul {
    @include flex-centro_vertical();
    list-style: none;
    flex-basis: 35%;
    padding: 10px 0 10px;
    margin: 0;
  }
  li {
    color: $primary_color;
    font-size: 1.4em;
    height: 35px;
  }
}

header {
  @include flex-centro_horizontal();
  position: relative;
  height: 500px;
  width: 100%;
  padding: 150px 0 150px 0;
  box-sizing: border-box;
  background-image: linear-gradient(-135deg, #253c78, #0a2239);
  canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
  }
  h1, p {
    position: relative;
    text-align: center;
    z-index: 1;
    color: white;
    margin:0;
    padding: 15px 0 15px 0;
  }  
}